node_modules/
dist/
temp-wgt/

.env

*.ipk
*.zip

android-log.txt

pusher-server.cjs
pusher-test.html
sync-server.cjs

android/.idea/

tizen/.buildResult/
tizen/assets/
tizen/fonts/
tizen/index.html

webos/assets/
webos/fonts/
webos/index.html