<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        version="1.0.0"
        viewmodes="maximized">
    
    <tizen:application id="NITHIN1234.LightningTV"
                   package="NITHIN1234"
                   required_version="10.0"/>
    
    <content src="index.html"/>
    
    <icon src="assets/logo.png"/>
    
    <name>Lightning TV App</name>
    
    <tizen:profile name="tv"/>
    
    <access origin="*" subdomains="true"/>
    
    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"/>
</widget>
